name: Deploy to AWS EC2 test

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Set up SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > deploy_key
          chmod 600 deploy_key

      # This step copies files to a temporary directory and then moves them to the target location
      - name: Deploy to EC2
        run: |
          sudo scp -i deploy_key -o StrictHostKeyChecking=no -r ./dist/* ubuntu@35.174.35.195:/var/www/html/atlas-website2

      - name: Start Application on EC2
        run: |
          ssh -i deploy_key -o StrictHostKeyChecking=no ubuntu@35.174.35.195 "sudo nohup serve -p 3000 /home/ubuntu/atlas-website2 > /dev/null 2>&1 &"
